
<form>
	<input type="file" (change)="selectFile($event)"> 
</form>

<input type="text" [(ngModel)]="num">
<button (click)="generateRoot()">generate</button>
{{gen}}

<!--
<div class="distance">distance</div>
<div class="distanceBox">
	<div *ngFor="let n1 of name1">
		<span>{{n1}},</span>
	</div>
</div>
<div class="distanceBox">
	<div *ngFor="let n2 of name2">
		<span>{{n2}},</span>
	</div>
</div>
<div class="distanceBox">
	<div *ngFor="let dis of distanceList">
		<span>{{dis}}</span>
	</div>
</div>
<div></div>
-->
